
.multiCol {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: left;
}


.col {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 2% 0 2% 3%;
        &:first-of-type { padding-left: 0; } 
} 

.littleCol {
        display: table-cell;
        vertical-align: top;
        width: 40%;
        padding: 2% 0 2% 3%;
        &:first-of-type { padding-left: 0; } 
} 
.bigCol {
	display: table-cell;
	vertical-align: top;
	width: 60%;
	padding: 2% 0% 2% 3%;
	&:first-of-type {padding-left: 0;}
}

